<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://code.alibabatech.com/schema/dubbo
http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--开启注解扫描-->
    <context:component-scan base-package="com.misssimple.service"/>
    <!--加载applicationContext-dao.xml-->
    <import resource="classpath:applicationContext-dao.xml"/>

    <!--服务提供方在zookeeper中的别名-->
    <dubbo:application name="mss-service"/>
    <!--注册中心的地址-->
    <dubbo:registry address="zookeeper://192.168.8.128:2181"/>
    <dubbo:protocol name="dubbo" port="20881"/>
    <!--扫描类(将什么包下的类作为服务提供类)-->
    <dubbo:annotation package="com.misssimple.service.Impl"/>

</beans>